:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80%;
  padding: 0.7rem;

  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
  }

  .dialog-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    mat-icon {
      cursor: pointer;
    }
  }

  mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding: 0 2rem;

    p {
      font-size: 0.9rem;
      line-height: 1.5rem;
      margin: 0;
    }

    mat-form-field {
      margin: 1rem 0 0;

      input {
        width: 100%;
      }
    }
  }

  mat-dialog-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    button {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 600px) {
  :host {
    h3 {
      font-size: 1.1rem;
      padding: 0;
      margin: 0;

      &::before {
        display: none;
      }
    }
  }
}
