.posts-view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;

  .layout-control {
    display: flex;
    justify-content: flex-end;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;

    mat-card {
      width: 25rem;
      margin: 1rem;
      padding: 0;
      cursor: pointer;

      &:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px #00000033;
        transition: all 0.3s ease-in-out;
      }

      a {
        padding: 0;
        margin: 0;

        .card-image {
          width: 25rem;
          border-radius: 0.3rem;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .card-title {
          padding: 0 1rem;
        }
      }
    }
  }
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.shareicondiv{
  display: flex;
  flex-direction: row-reverse;
  margin: 2%
}
.shareicon{
  cursor: pointer;  

}
::ng-deep .mat-dialog-container{
  background-color: #1a1e1d !important;
}


.card-image:hover .image {
  opacity: 0.5;
}

.card-image:hover .middle {
  opacity: 1;
}

@media (max-width: 600px) {
  .posts-view {
    .cards-wrapper {
      width: 90vw;
      mat-card {
        width: 90%;
        margin: 0.5rem 0;
        a {
          .card-image{
            width: unset;
          }

          .card-title {
            h3 {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
