/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

$light-theme: matx.define-theme((color: (theme-type: light,
        primary: matx.$m3-azure-palette,
        tertiary: matx.$m3-blue-palette,
      ),
    ));

$dark-theme: matx.define-theme((color: (theme-type: dark,
        primary: matx.$m3-magenta-palette,
        tertiary: matx.$m3-violet-palette,
      ),
    ));

@include mat.core();
@include matx.color-variants-back-compat($light-theme);

:root {
  @include mat.all-component-themes($light-theme);
}


// Dark theme variables
$dark-bg-color: #222;
$semi-dark-bg-color: #333;
$light-text-color: #cacaca;

$button-bg: #423844;
$button-color: #ac9fae;

// Light theme variables
$light-bg-color: #f3f2f7;
$semi-light-bg-color: #c0c0c0;
$dark-text-color: #333;

$light-button-bg: #e0e0ff;
$light-button-color: #005cbb;

// Dark mode
.dark {
  @include mat.all-component-colors($dark-theme);

  color: $button-color;

  button[mat-raised-button],
  button[mat-mini-fab] {
    background-color: $button-bg;
    color: $button-color;
  }

  .mat-mdc-text-field-wrapper {
    background-color: $button-bg !important;
  }

  input {
    color: $button-color !important;
  }

  mat-toolbar {
    color: $light-text-color;
    color: $button-color;

    mat-icon {
      color: $button-color;
    }
  }

  // slide toggle overwrites
  mat-slide-toggle {
    button {
      .mdc-switch__track {
        &::after {
          background-color: $button-bg !important;
        }
      }

      .mdc-switch__handle {
        &::after {
          background-color: $button-color !important;
        }

        .mdc-switch__icon {
          fill: $button-bg !important;
        }
      }
    }
  }

  mat-sidenav {
    background-color: #1f1e1e;
  }

  .content,
  mat-sidenav-content {
    background-color: $dark-bg-color;
  }

  article {
    color: $light-text-color;

    .published-date,
    .read-time {
      background-color: #555;
    }

    a {
      color: #bf8fc8;
    }

    pre {
      background-color: #1b1b1b;
      color: #eaeaea;
    }
  }

  app-search-dialog {
    mat-dialog-content {

      .search-result {

        &:hover {
          background-color: #444 !important;
          color: #a97aa7;
        }
      }
    }
  }

  .footer {
    a {
      &:hover {
        color: #bcbcbc;
      }
    }
  }
}

// Light mode
.light {

  button[mat-raised-button] {
    background-color: $light-button-bg;

  }

  mat-toolbar {
    background-color: $light-bg-color;
    color: $light-button-color;

    mat-icon {
      color: $light-button-color;
    }
  }

    // slide toggle overwrites
    mat-slide-toggle {
      button {
        .mdc-switch__track {
          &::after {
            background-color: $light-button-bg !important;
          }
          &::before {
            border-color: #2200bb14 !important;
          }
        }

        .mdc-switch__handle {
          &::after {
            background-color: $light-button-color !important;
          }

          .mdc-switch__icon {
            fill: $light-button-bg !important;
          }
        }
      }
    }

  mat-sidenav {
    background-color: #f8f8fa;

    mat-icon {
      color: $light-button-color;
    }
  }

  mat-card {
    background-color: $light-bg-color;

    h3 {
      color: $light-button-color;
    }
  }

  article {

    .published-date,
    .read-time {
      background-color: $light-button-bg;
      color: $light-button-color;
    }

    a {
      color: $light-button-color;
    }

    pre {
      background-color: #383838;
      color: #eaeaea;
    }
  }

  .footer {
    background-color: $light-bg-color;

    a {
      color: #858585;

      &:hover {
        color: #707070;
      }
    }
  }
}
