@if (showMainHeader) {
<mat-toolbar>
  <mat-toolbar-row class="first">
    <a routerLink="/" class="blog-title">
      <img src="{{blogImage}}" alt="logo" />
      <h1>{{ blogName }}</h1>
    </a>
    <div class="controls">
      <button mat-mini-fab class="control-button" (click)="openSearchDialog()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab class="control-button" (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="second">
    <div class="social">
      <app-blog-social-icons [blogSocialLinks]="blogSocialLinks"></app-blog-social-icons>
    </div>
    <div class="follow">
      <button mat-raised-button (click)="openFollowDialog()">Follow</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="third">
    <div class="series">
      @for (series of seriesList; track series) {
      <a [routerLink]="['series/', series.slug]" class="series-link">{{ series.name }}</a>
      }
    </div>
  </mat-toolbar-row>
</mat-toolbar>
}
