mat-toolbar {
  padding: 1rem 1rem 0.3rem;

  mat-toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.2rem;

    &.second {
      border-bottom: 1px solid #80808050;
    }

    a {
      color: inherit;
      text-decoration: none;
      margin: 0 0.3rem;
    }

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
        border-radius: 50%;
      }

      h1 {
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: center;

      .control-button {
        margin-right: 0.6rem;
      }
    }

    .follow {
      button {
        margin-bottom: 0.5rem;
        ;
      }
    }

    .series {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.7rem 0;

      a {
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    padding: 0;

    mat-toolbar-row {
      height: 4rem;
      padding: 0;

      &.first {
        width: 94%;
        margin: 0 0.7rem;

        .logo {
          img {
            width: 2rem;
            height: 2rem;
            margin-right: 0.3rem;
          }

          h1 {
            font-size: 1.1rem;
          }
        }
      }

      &.second {
        flex-direction: column;
        height: 6rem;

        button {
          font-size: 1rem;
          ;
        }
      }

      &.third {
        flex-direction: column;
        height: 7rem;

        // will have to be adjusted to a dropdown
        // to handle cases where there are more than 3 series
        .series {
          flex-direction: column;
          align-items: center;
          margin-bottom: 0.8rem;
        }
      }

      mat-toolbar-row-start {
        .menu {
          span {
            font-size: 1.3rem;
          }
        }
      }

      .toolbar-row-end {
        .follow {
          margin: 1rem 0;
        }
      }
    }
  }
}
